* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat';
    font-size: 62.5%;
} /*font-family: 'Permanent Marker', cursive;*/

:root {
    --amarillo: #ffdc00;
    --verde: #ceffa4;
    --naranja: #ffc37c;
    --azul: #c6fee7;
    --rosa: #ffc1aa;
}

.section {
    background: #ddfff1;
    height: 100vh;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section--fondo {
    position: absolute;
    z-index: -1;
}

.section--fondo:nth-of-type(1) {
    background-image: url('melt-top.png');
    height: 185px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
}

.section--fondo:nth-of-type(2) {
    background-image: url('melt-bottom.png');
    height: 185px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(calc(100vh - 100%));
}

.section--img {
    display: block;
    width: 70%;
    height: auto;
}

.section--link, .section--link:visited {
    background: #000;
    color: var(--amarillo);
    text-decoration: none;
    padding: 0.9em 1.1em;
    border-radius: 0 0 1rem 1rem;
    font-size: 1.1rem;
    align-self: flex-end;
    margin-right: 0.9em;
    transition: 0.2s linear;
}

.section--link:hover {
    background: var(--amarillo);
    color: black;
}

.section--order {
    margin: 0 2em 0.7em 2em;
}

.section--order--title {
    text-align: center;
    font-size: 3rem;
    margin: 0.8333em 0;
}

.section--order--preorder {
    display: inline-block;
    font-size: 1.8rem;
    text-decoration: none;
    background: #000;
    color: var(--amarillo);
    padding: 0.555em 1.333em;
    border-radius: 0.7rem;
    border: 1px solid var(--amarillo);
    width: 100%;
    margin-bottom: 0.2777em;
    transition: 0.2s linear;
    font-weight: 600;
    text-align: center;
}

.section--order--preorder:hover {
    background: var(--amarillo);
    color: black;
}

.section--spotify {
    vertical-align: middle;
}

.section--svg {
    width: 1.8rem;
    height: auto;
}

.section--path {
    fill: var(--amarillo);
    transition: 0.2s linear;
}

.section--order--preorder:hover .section--path {
    fill: #000;
}

.section--order--advice {
    text-align: center;
}

.section--button {
    width: 25px;
    height: 25px;
    background: #000;
    position: absolute;
    z-index: 1;
    transform: translateY(87vh) rotate(-45deg);
    border-radius: 0.3rem;
    clip-path: polygon(0% 0%, 10% 0%, 100% 90%, 100% 100%, 0 100%);
    animation: sube-baja 1s infinite alternate;
    margin-top: 0.5em;
}

@keyframes sube-baja {
    to {
        transform: translateY(92vh) rotate(-45deg);
    }
}

/*Empieza sección 2*/

.main {
    display: flex;
    flex-direction: column;
    height: 1000px;
    overflow: hidden;
    overflow-y: scroll;
}

.main--section {
    background-color: var(--amarillo);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    min-height: 100vh;
}

.main--section--img {
    width: 45px;
    height: auto;
    margin-top: 5em;
}

.main--section--hashtag {
    font-size: 2.6rem;
    margin: 1em 0;
}

.main--section--text {
    font-size: 1.6rem;
    text-align: center;
    padding: 0 1em;
}

.main--section--form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2em;
}

.main--section--form--input {
    background-color: transparent;
    /* outline: none; */
    border: none;
    border-bottom: 3px solid black;
    padding: 0.5em 0.2em;
    width: 100%;
    margin-top: 0.5em;
}

.main--section--form--label {
    font-size: 1.3rem;
}

.main--section--submit {
    color: var(--amarillo);
    background-color: #000;
    border-radius: 1rem;
    font-size: 2rem;
    border: none;
    width: 20rem;
    height: 4.4rem;
    align-self: center;
    margin: 0.5em 0 2.5em 0;
    transition: 0.2s linear;
}

.main--section--submit:hover {
    color: black;
    background-color: transparent;
}

/*Empieza grilla*/

.main--section2 {
    display: flex;
    flex-wrap: wrap;
    /* height: 50%; */
}

.main--section2--casilla {
    width: 33.33333%;
    height: 13%;
    position: relative;
}

.main--section2--casilla:nth-of-type(4n+1) {
    background: var(--naranja);
}

.main--section2--casilla:nth-of-type(4n+2) {
    background: var(--azul);
}

.main--section2--casilla:nth-of-type(4n+3) {
    background: var(--verde);
}

.main--section2--casilla:nth-of-type(4n+4) {
    background: var(--rosa);
}

.main--section2--butter {  
    background-image: url('pan_mantequilla.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 80px;
    /* width: 100%; */
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main--section2--logo {
    width: 15px;
}

.main--section2--nombre {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

.main--section2--name-region {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




